.profiles {
 background: linear-gradient(-75deg,#59086A, #2D0020 20%, #313 80%,#112);  
  background-size: 400% 400% ;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;

}


.mainHeading{
	height: 195px;	width: 738px;	color: #FFF;	font-family: Futura;	
  font-size: 7vw;	
  font-weight: 700;	

  text-align: center; 
  margin-left: 1%;


}

.upperrow{

 margin-top: -2.5%;
 margin-left: 0px;
 background: none;
 justify-content: center;

}
.lowerrow{
	margin-top: 2%;
	justify-content: center;
}
