* {
	background: linear-gradient(-75deg,#900, #114 20%, #308 80%,#3289 38%, #0157 48%, #091);	
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 8% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.home h1 {

	color: #FFF;	
	float: left;
	margin-top: -0.5%;
	font-family: Futura;	
	font-size: 3vw;	
	font-weight: 700;	
	line-height: 82px;	
	text-align: center;
	background: none;
}