@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.navbutton {
	float: right;
	margin-left: -10%;
	background: none;
	display: flex;
	flex-flow: row;
	float: left;
	margin-left: 2vw;
	mix-blend-mode: lighten;
	

}
.link {
	background-color: transparent;
	border:none;
	color: #FFF;	
	font-family: 'EB Garamond', serif;

	font-size: 1.8vw;	
	padding: 0 1vw ;
	cursor: pointer;
	text-decoration:none;
    display: inline-block;
	


	border-bottom: none;
	


}
.link:after {
	content: '';
	display: block;
	height: 3px;
	width: 0;
	background: white;
	transition: width .5s ease, background-color .5s ease;
}

.link:hover:after {
	width: 100%;
background:white;
}

@media (max-width: 1024px) {
	.navbutton {
		flex-flow: column;
	}

	.link{
		font-family: 'Fjalla One', sans-serif;
		font-size: 5vw;
		mix-blend-mode: color-dodge;
		padding: 0;

	}
}
@media (max-width: 375px) and (max-height: 812px){
	
	

 }
 
@media (max-width: 425px){
	
	.link{
		font-size: 10vw;
		

	}
}
