.navbutton {
	float: right;
	margin-left: -10%;
	background: none;
	display: flex;
	flex-flow: row;
	float: left;
	margin-left: 2vw;
}
.link {
	background-color: transparent;
	border:none;
	color: #FFF;	
	font-family: 'EB Garamond', serif;

	font-size: 1.6vw;	
	padding: 0 1vw ;
	cursor: pointer;
	text-decoration:none;
    display: inline-block;
	background: none;
	border-bottom: none;



}
.link:after {
	content: '';
display: block;
height: 3px;
width: 0;
background: white;
transition: width .5s ease, background-color .5s ease;
}

.link:hover:after {
	width: 100%;
background:white;
}

@media (max-width: 1024px) {
	.navbutton {
		flex-flow: column;
	}
}
