.SideDrawer {
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 300;
	background: linear-gradient(-90deg, #114 0%, #308 60%,#139 98%, #139 08%, #1119 );	
	padding: 32px 16px;
	box-sizing: border-box;
	box-shadow: 5px solid grey;

	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	
	transition: transform 0.3s ease-out;
	

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (min-width:1025px) {
	.SideDrawer {
		display: none;
	}
}

.Open {
	transform: translateX(0%);
}

.Close {
	transform: translateX(100%);
}