.profiles_cards{
	box-shadow: 5px 6px 4px 0 rgba(0,0,0,0.5); 
	align-items: flex-start;
	background: none;
	height: 30vh;
	


}
.cards_title{
	
	background: none;
	font-family: Futura;	
	font-size: 1.2vw;	
	font-weight: 500;	
	letter-spacing: -1.6px;	
	line-height: 1vw;	
	text-align: center;

}
.desgn{
	color: #66ffff;
	font-family: Futura;	
	font-size: 1vw;
	letter-spacing:0;
	margin-top: 5%;
	width: 12vw;
	margin-bottom: -15%;

}


@media (min-width: 1024px) and (min-height: 768px) {
	.cards{
		height:42vh;
		width: 20vw;
		margin-top: -21%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
	}
}

@media (min-width: 1366px) and (min-height: 768px) {
		.cards{
		height:42vh;
		width: 15vw;
		margin-top: -1%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
		width: 20vw;
		margin-left: -60%;
	}
	.desgn{
		margin-left: 20%;
	}
	.profiles_cards{
		height: 28vh;
	}
}
 
 
@media(min-width:3840px) and (min-height:2160px) {
	.cards{
		height:39vh;
		width: 15vw;
		top: 16vh;
		margin-top: 4%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
		width: 20vw;
		margin-left: -30%;
		margin-top: 2%;
	}
	.desgn{
		margin-left: 20%;
		margin-top: 4%;
	}
	.profiles_cards{
		height: 28vh;
	}
}
 

@media(min-width:1920px) and (min-height:1080px) {
		.cards{
		height:42vh;
		width: 15vw;
		top: 13vh;
		margin-top: -22%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
		width: 20vw;
		margin-left: -40%;
		margin-top: 2%;
	}
	.desgn{
		margin-left: 20%;
		margin-top: 4%;
	}
	.profiles_cards{
		height: 30vh;
	}
}
 


 
@media(min-width:2800px) and (min-height:1800px) {
	.cards{
		height:40vh;
		width: 15vw;
		top: 16vh;
		margin-top: -15%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
		width: 20vw;
		margin-left: -30%;
		margin-top: 1%;
	}
	.desgn{
		margin-left: 20%;
		margin-top: 4%;
	}
	.profiles_cards{
		height: 28vh;
	}
}
 
@media(min-width:2560px) and (min-height:1600px) {
		.cards{
		height:40vh;
		width: 15vw;
		top: 22vh;
		margin-top: -15%;
	}
	.cards_title{
		letter-spacing: -1px;
		font-size: 1.3vw;
		width: 20vw;
		margin-left: -30%;
		margin-top: 1%;
	}
	.desgn{
		margin-left: 20%;
		margin-top: 4%;
	}
	.profiles_cards{
		height: 28vh;
	}
}
 








 @media (max-width: 375px) and (max-height: 812px){
 	.cards{
		height:50vh;
		width: 100%;
		top: -10vh;
		margin-top: 10%;
	
	}
	.cards_title{
	
		font-size: 7vw;
		width: 100%;
		margin-left: 5%;
		margin-top: 1%;
	}
	.desgn{
		height: 100%;
		width: 100%;
		margin-top: 8%;
		font-size: 4vw;
	}
	.profiles_cards{
		height: 38vh;
	}


 }

 @media (max-width: 425px) and (max-height: 1039px){
 	.cards{
		height:50vh;
		width: 100%;
		top: -10vh;
		margin-top: 10%;
	
	}
	.cards_title{
	
		font-size: 7vw;
		width: 100%;
		margin-left: 5%;
		margin-top: 1%;
	}
	.desgn{
		height: 100%;
		width: 100%;
		margin-top: 8%;
		font-size: 4vw;
	}
	.profiles_cards{
		height: 38vh;
	}


 }


 @media (max-width: 375px) and (max-height: 1039px){
	.cards{
		height:50vh;
		width: 100%;
		top: -10vh;
		margin-top: 10%;
	
	}
	.cards_title{
	
		font-size: 7vw;
		width: 100%;
		margin-left: 5%;
		margin-top: 1%;
	}
	.desgn{
		height: 100%;
		width: 100%;
		margin-top: 12%;
		font-size: 4vw;
	}
	.profiles_cards{
		height: 38vh;
	}


 }

@media (max-width: 320px){
.cards{
		height:40vh;
		width: 100%;
		top: -10vh;
		margin-top: 10%;
	
	}
	.cards_title{
	
		font-size: 7vw;
		width: 100%;
		margin-left: 5%;
		margin-top: 1%;
	}
	.desgn{
		height: 100%;
		width: 100%;
		margin-top: 12%;
		font-size: 5vw;
	}
	.profiles_cards{
		height: 30vh;
	}


 }



 
