.blog {
	
    width: 30%;
    height: 20vw;
    margin-top: 0%;
    color: #FFF;
  

    transform: translate(0px, 0px, 0px);
    background-color: #9999;
	mix-blend-mode: color-dodge;
  	border-style: solid;
  border-width: 0px 0.01vw 0px 0.01vw;

   
  }



.blog h2 {
	text-align: left;
	background: none;
	font-family: 'Abel', sans-serif;
	font-weight: 600;
	font-size: 2vw;
	mix-blend-mode: color-dodge;
	z-index: 200;
}
.blogText {

	text-align: justify;
	text-justify: inter-word;
	padding: 10px;
	line-height: 1.6;
	background: none;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3vw;
	word-spacing: 0.1em;
}


  
 